
body{
    background-color: thistle;
}
table{
    width: 100%;
    height: 500px;
}
td{
    text-align: center;
    font-size: 30px;
    color: aliceblue;
}

td:hover{
    
    background-color: rgb(57, 166, 90);
}
